---
import type { MarkdownInstance } from "astro";
import { getCollection } from "astro:content";
import BlogPost from "../../components/BlogPost.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
    const allPosts = await getCollection("posts");

    const uniqueTags = [...new Set(allPosts.map(post => post.data.tags).flat())];


    return uniqueTags.map((tag) => {
        const filteredPosts = allPosts.filter((post) => post.data.tags.includes(tag));
        return {
            params: { tag },
            props: { posts: filteredPosts, tags: uniqueTags },
        };
  });
}

const { tag } = Astro.params;
const { posts, tags } = Astro.props;

---

<BaseLayout pageTitle={tag}>
    <p>Posts tagged with {tag}</p>
    <ul>
        {posts.map((post) => <BlogPost url={`/posts/${post.slug}`} title={post.data.title} /> )}
    </ul>
    
    <p class={'mt-4 mb-2'}>All tags</p>
    <ul class={'flex gap-2'}>
        {tags.map((tag) => <BlogPost url={`/tags/${tag}`} title={tag} /> )}
    </ul>
</BaseLayout>